# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/
/dist/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.publish

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.aider*

# local db
24091324
24091324-mrview-3d0b6cc946b7127e202f766f003c883d
24091324-mrview-d617d1440aa6a4aab8715dae0c48cdc5
adeegopos
adeegopos-mrview-3d0b6cc946b7127e202f766f003c883d
adeegopos-mrview-d617d1440aa6a4aab8715dae0c48cdc5
adeegopos-mrview-6597dc9ff416f4144cf4173db67a36e7
adeegopos-mrview-7f6f6f6500a9e47e9770ca0964fa490f
adeegopos-mrview-43add5da9611f8101744e1ea612e5016
adeegopos-mrview-a572d71604970ed32253dc8b55ce3cd4
adeegopos-mrview-c9040f4281eb53233407f2ff0a0be62a
adeegopos-mrview-e6cea3588ad81843b4df4e5b3b90ca64

json
